server:
  port: 8082

spring:
  application:
    name: player-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    hostname: localhost

transfer-service:
  url: http://localhost:8083