server:
  port: 8083

spring:
  application:
    name: transfer-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    hostname: localhost

team-service:
  url: http://localhost:8081

player-service:
  url: http://localhost:8082